<a href="https://colab.research.google.com/github/Samanvibhat/Rinex/blob/main/Major_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#LOGISTIC REGRESSION TECHNIQUE

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ameenmanna8824/DATASETS/main/Mall_Customers.csv')
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [14]:
df_a = df.drop(['Genre'],axis = 1) 
df_a
x=df_a.iloc[:,0:4].values
x

array([[  1,  19,  15,  39],
       [  2,  21,  15,  81],
       [  3,  20,  16,   6],
       [  4,  23,  16,  77],
       [  5,  31,  17,  40],
       [  6,  22,  17,  76],
       [  7,  35,  18,   6],
       [  8,  23,  18,  94],
       [  9,  64,  19,   3],
       [ 10,  30,  19,  72],
       [ 11,  67,  19,  14],
       [ 12,  35,  19,  99],
       [ 13,  58,  20,  15],
       [ 14,  24,  20,  77],
       [ 15,  37,  20,  13],
       [ 16,  22,  20,  79],
       [ 17,  35,  21,  35],
       [ 18,  20,  21,  66],
       [ 19,  52,  23,  29],
       [ 20,  35,  23,  98],
       [ 21,  35,  24,  35],
       [ 22,  25,  24,  73],
       [ 23,  46,  25,   5],
       [ 24,  31,  25,  73],
       [ 25,  54,  28,  14],
       [ 26,  29,  28,  82],
       [ 27,  45,  28,  32],
       [ 28,  35,  28,  61],
       [ 29,  40,  29,  31],
       [ 30,  23,  29,  87],
       [ 31,  60,  30,   4],
       [ 32,  21,  30,  73],
       [ 33,  53,  33,   4],
       [ 34,  18,  33,  92],
       [ 35,  49,  33,  14],
       [ 36,  21,  33,  81],
       [ 37,  42,  34,  17],
       [ 38,  30,  34,  73],
       [ 39,  36,  37,  26],
       [ 40,  20,  37,  75],
       [ 41,  65,  38,  35],
       [ 42,  24,  38,  92],
       [ 43,  48,  39,  36],
       [ 44,  31,  39,  61],
       [ 45,  49,  39,  28],
       [ 46,  24,  39,  65],
       [ 47,  50,  40,  55],
       [ 48,  27,  40,  47],
       [ 49,  29,  40,  42],
       [ 50,  31,  40,  42],
       [ 51,  49,  42,  52],
       [ 52,  33,  42,  60],
       [ 53,  31,  43,  54],
       [ 54,  59,  43,  60],
       [ 55,  50,  43,  45],
       [ 56,  47,  43,  41],
       [ 57,  51,  44,  50],
       [ 58,  69,  44,  46],
       [ 59,  27,  46,  51],
       [ 60,  53,  46,  46],
       [ 61,  70,  46,  56],
       [ 62,  19,  46,  55],
       [ 63,  67,  47,  52],
       [ 64,  54,  47,  59],
       [ 65,  63,  48,  51],
       [ 66,  18,  48,  59],
       [ 67,  43,  48,  50],
       [ 68,  68,  48,  48],
       [ 69,  19,  48,  59],
       [ 70,  32,  48,  47],
       [ 71,  70,  49,  55],
       [ 72,  47,  49,  42],
       [ 73,  60,  50,  49],
       [ 74,  60,  50,  56],
       [ 75,  59,  54,  47],
       [ 76,  26,  54,  54],
       [ 77,  45,  54,  53],
       [ 78,  40,  54,  48],
       [ 79,  23,  54,  52],
       [ 80,  49,  54,  42],
       [ 81,  57,  54,  51],
       [ 82,  38,  54,  55],
       [ 83,  67,  54,  41],
       [ 84,  46,  54,  44],
       [ 85,  21,  54,  57],
       [ 86,  48,  54,  46],
       [ 87,  55,  57,  58],
       [ 88,  22,  57,  55],
       [ 89,  34,  58,  60],
       [ 90,  50,  58,  46],
       [ 91,  68,  59,  55],
       [ 92,  18,  59,  41],
       [ 93,  48,  60,  49],
       [ 94,  40,  60,  40],
       [ 95,  32,  60,  42],
       [ 96,  24,  60,  52],
       [ 97,  47,  60,  47],
       [ 98,  27,  60,  50],
       [ 99,  48,  61,  42],
       [100,  20,  61,  49],
       [101,  23,  62,  41],
       [102,  49,  62,  48],
       [103,  67,  62,  59],
       [104,  26,  62,  55],
       [105,  49,  62,  56],
       [106,  21,  62,  42],
       [107,  66,  63,  50],
       [108,  54,  63,  46],
       [109,  68,  63,  43],
       [110,  66,  63,  48],
       [111,  65,  63,  52],
       [112,  19,  63,  54],
       [113,  38,  64,  42],
       [114,  19,  64,  46],
       [115,  18,  65,  48],
       [116,  19,  65,  50],
       [117,  63,  65,  43],
       [118,  49,  65,  59],
       [119,  51,  67,  43],
       [120,  50,  67,  57],
       [121,  27,  67,  56],
       [122,  38,  67,  40],
       [123,  40,  69,  58],
       [124,  39,  69,  91],
       [125,  23,  70,  29],
       [126,  31,  70,  77],
       [127,  43,  71,  35],
       [128,  40,  71,  95],
       [129,  59,  71,  11],
       [130,  38,  71,  75],
       [131,  47,  71,   9],
       [132,  39,  71,  75],
       [133,  25,  72,  34],
       [134,  31,  72,  71],
       [135,  20,  73,   5],
       [136,  29,  73,  88],
       [137,  44,  73,   7],
       [138,  32,  73,  73],
       [139,  19,  74,  10],
       [140,  35,  74,  72],
       [141,  57,  75,   5],
       [142,  32,  75,  93],
       [143,  28,  76,  40],
       [144,  32,  76,  87],
       [145,  25,  77,  12],
       [146,  28,  77,  97],
       [147,  48,  77,  36],
       [148,  32,  77,  74],
       [149,  34,  78,  22],
       [150,  34,  78,  90],
       [151,  43,  78,  17],
       [152,  39,  78,  88],
       [153,  44,  78,  20],
       [154,  38,  78,  76],
       [155,  47,  78,  16],
       [156,  27,  78,  89],
       [157,  37,  78,   1],
       [158,  30,  78,  78],
       [159,  34,  78,   1],
       [160,  30,  78,  73],
       [161,  56,  79,  35],
       [162,  29,  79,  83],
       [163,  19,  81,   5],
       [164,  31,  81,  93],
       [165,  50,  85,  26],
       [166,  36,  85,  75],
       [167,  42,  86,  20],
       [168,  33,  86,  95],
       [169,  36,  87,  27],
       [170,  32,  87,  63],
       [171,  40,  87,  13],
       [172,  28,  87,  75],
       [173,  36,  87,  10],
       [174,  36,  87,  92],
       [175,  52,  88,  13],
       [176,  30,  88,  86],
       [177,  58,  88,  15],
       [178,  27,  88,  69],
       [179,  59,  93,  14],
       [180,  35,  93,  90],
       [181,  37,  97,  32],
       [182,  32,  97,  86],
       [183,  46,  98,  15],
       [184,  29,  98,  88],
       [185,  41,  99,  39],
       [186,  30,  99,  97],
       [187,  54, 101,  24],
       [188,  28, 101,  68],
       [189,  41, 103,  17],
       [190,  36, 103,  85],
       [191,  34, 103,  23],
       [192,  32, 103,  69],
       [193,  33, 113,   8],
       [194,  38, 113,  91],
       [195,  47, 120,  16],
       [196,  35, 120,  79],
       [197,  45, 126,  28],
       [198,  32, 126,  74],
       [199,  32, 137,  18],
       [200,  30, 137,  83]])

In [17]:
df_a.info()
y = df_a.iloc[:,3].values
y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Age                     200 non-null    int64
 2   Annual Income (k$)      200 non-null    int64
 3   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4)
memory usage: 6.4 KB

array([39, 81,  6, 77, 40, 76,  6, 94,  3, 72, 14, 99, 15, 77, 13, 79, 35,
       66, 29, 98, 35, 73,  5, 73, 14, 82, 32, 61, 31, 87,  4, 73,  4, 92,
       14, 81, 17, 73, 26, 75, 35, 92, 36, 61, 28, 65, 55, 47, 42, 42, 52,
       60, 54, 60, 45, 41, 50, 46, 51, 46, 56, 55, 52, 59, 51, 59, 50, 48,
       59, 47, 55, 42, 49, 56, 47, 54, 53, 48, 52, 42, 51, 55, 41, 44, 57,
       46, 58, 55, 60, 46, 55, 41, 49, 40, 42, 52, 47, 50, 42, 49, 41, 48,
       59, 55, 56, 42, 50, 46, 43, 48, 52, 54, 42, 46, 48, 50, 43, 59, 43,
       57, 56, 40, 58, 91, 29, 77, 35, 95, 11, 75,  9, 75, 34, 71,  5, 88,
        7, 73, 10, 72,  5, 93, 40, 87, 12, 97, 36, 74, 22, 90, 17, 88, 20,
       76, 16, 89,  1, 78,  1, 73, 35, 83,  5, 93, 26, 75, 20, 95, 27, 63,
       13, 75, 10, 92, 13, 86, 15, 69, 14, 90, 32, 86, 15, 88, 39, 97, 24,
       68, 17, 85, 23, 69,  8, 91, 16, 79, 28, 74, 18, 83])

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [19]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [20]:
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [21]:
y_pred = model.predict(x_test)
y_pred

array([32, 10, 48, 46, 63,  5, 77, 35, 14, 24, 79, 75, 27, 15, 46, 81, 81,
       13, 73, 46, 83, 93, 60, 78, 55, 73, 75, 83, 55, 26, 32, 46, 24, 83,
        4, 74, 75, 32, 46, 43])

In [22]:
y_test

array([29, 13, 46, 42, 69, 15, 76, 36, 15, 20, 55, 77, 32, 16, 51, 94, 92,
        9, 73, 47, 88, 97, 65, 73, 56, 91, 90, 97, 58, 28, 35, 41, 17, 54,
        5, 85, 75, 40, 44, 50])

In [23]:
model.predict([[54,23,113,19]])

array([28])